@page "/"

@inject IJSRuntime _jsRuntime

<PageTitle>Index</PageTitle>

<div style="height:100vh; width:100vh" id="three-canvas"></div>

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await _jsRuntime.InvokeVoidAsync("ThreeJSFunctions.load");
    }
}
